*{
    -fx-background-color: black;
}
.button{
    -fx-background-color: #343434;
    -fx-text-fill: white;
}
.text-field{
    -fx-background-color: #343434;
    -fx-text-fill: white;
}
.menu{
    -fx-background-color: #343434;
    -fx-text-fill: white;
}
.menu-bar{
    -fx-background-color: #343434;
    -fx-text-fill: white;
}
.menu-item{
    -fx-background-color: #343434;
    -fx-text-fill: white;
}
.list-view{
    -fx-background-color: #343434;
}
.label{
    -fx-background-color: 343434;
    -fx-text-fill: white;
}


